.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content-dark {
    background-color: var(--backMainNavBackground);
    border: solid 1px var(--backMainNavBorder);
}

.modal-content--sm {
    width: 40%;
}

.modal-content--lg {
    width: 80%;
}

.modal-footer {
    padding: 2px 16px;
}

.modal-header, .modal-body {
    padding: 2px 16px;
    border-bottom: 1px solid #e9ecef;
}

.modal-header-dark, .modal-body-dark {
    border-bottom: solid 1px var(--backMainNavBorder);
}

.modal-close-cross {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    } 
}

@keyframes animatetop {
    from { 
        top: -300px; 
        opacity: 0 
    }
    to {
        top: 0;
        opacity: 1;
    }
}
