.table{
  border-collapse: collapse;
  width: 100%;
}

.table--dark{
  background-color: inherit;
  color: white;
}
thead{
  border-bottom: 0.1em solid white;
}

td,th {
  padding: 0.4rem 1.2rem;
  text-align: left;
}
.table-row {
   border-bottom: 1px solid #3F4756;
   td:last-of-type {
     text-align: right;
   }
 }
th{
  font-size: 1.2rem;
}

tbody tr:hover {
  background-color: rgba(50, 50, 50, 0.8);
}