.color-back-page {
    css-attr: #a51d2d;
}
.color-title-page {
    css-attr: #ff0000;
}
.color-text-link {
    css-attr: #000000;
}
.color-text-link-bis {
    css-attr: #613583;
}
.color-back-page1 {
    css-attr: #ff0000;
}
.color-title-page1 {
    css-attr: #613583;
}
.color-text-link1 {
    css-attr: #63452c;
}
.color-text-link-bis1 {
    css-attr: #2ec27e;
}
.color-back-page2 {
    css-attr: #63452c;
}
.color-title-page2 {
    css-attr: #ff0000;
}
.color-text-link2 {
    css-attr: #a51d2d;
}
.color-text-link-bis2 {
    css-attr: #26a269;
}
.color-title-page3 {
    css-attr: #62a0ea;
}
.color-text-link3 {
    css-attr: #ffbe6f;
}
.color-back-separator {
    css-attr: #e5a50a;
}
