.color-back-page {
    css-attr: #9a9996;
}
.color-title-page {
    css-attr: #ff0000;
}
.color-text-link {
    css-attr: #ff0000;
}
.color-text-link-bis {
    css-attr: #1a5fb4;
}
.color-back-page1 {
    css-attr: #ff0000;
}
.color-title-page1 {
    css-attr: #ff0000;
}
.color-text-link1 {
    css-attr: #613583;
}
.color-text-link-bis1 {
    css-attr: #ff0000;
}
.color-back-page2 {
    css-attr: #ff0000;
}
.color-title-page2 {
    css-attr: #1c71d8;
}
.color-text-link2 {
    css-attr: #ff0000;
}
.color-text-link-bis2 {
    css-attr: #ff0000;
}
.color-title-page3 {
    css-attr: #ff0000;
}
.color-text-link3 {
    css-attr: #c01c28;
}
.color-back-separator {
    css-attr: #ff0000;
}
