

/* ====== colors ====== */
$theme-colors:(
    "primary": (
        "100" : #f0f0f8,
        "200" : #dbdbee,
        "300" : #bdbde0,
        "400" : #aba7e8,
        "500" : #a09be5,
        "600" : #8e88e0,
        "700" : #7d76db,
        "800" : #5F56CC
    ),

    "secondary": (
        "100" : #fcf5fb,
        "200" : #f4dcf2,
        "300" : #f5d4f2,
        "400" : #e9b9e6,
        "500" : #e5ade2,
        "600" : #de96d9,
        "700" : #d373cd,
        "800" : #C850C0
    ),
    "grey": (
        "100" : #fbfbfb,
        "200" : #e8e8e8,
        "300" : #d0d0d0,
        "400" : #bebebe,
        "500" : #aaaaaa,
        "600" : #979797,
        "700" : #848484,
        "800" : #777777
    ),
    "danger": (
        "100" : #fcf2f3,
        "200" : #f2c2c7,
        "300" : #e99aa2,
        "400" : #e27983,
        "500" : #df6873,
        "600" : #db5764,
        "700" : #d74654,
        "800" : #d22d3d
    ),
    "warning": (
        "100" : #fbf7e4,
        "200" : #f7f0c9,
        "300" : #f3e8ae,
        "400" : #f1e4a1,
        "500" : #f0e194,
        "600" : #ecd979,
        "700" : #e8d15e,
        "800" : #e4ca43
    ),
    "success": (
        "100" : #d4f1eb,
        "200" : #c9ede5,
        "300" : #a9e2d6,
        "400" : #88d7c6,
        "500" : #67ccb6,
        "600" : #46c1a7,
        "700" : #37a48d,
        "800" : #2e8b77
    ),
    "info": (
        "100" : #d8ecfb,
        "200" : #b1d9f8,
        "300" : #71baf2,
        "400" : #5cb0f0,
        "500" : #47a6ee,
        "600" : #399fed,
        "700" : #2b98ec,
        "800" : #1d91eb
    ),
    "dark": (
        "100" : #A5A7B7,
        "200" : #7C7E8D,
        "300" : #565866,
        "400" : #323441,
        "500" : #252B35,
        "600" : #222731,
        "700" : #1A1F28,
        "800" : #13171E
    ),
);

/* ====== breakpoints ====== */

$breakpoints : (
    "sm" : 576px,
    "md" : 768px,
    "lg" : 992px,
    "xl" : 1200px,
    "xxl" : 1400px
);

$container-max-widths: (
    "sm": 540px,
    "md": 720px,
    "lg": 960px,
    "xl": 1140px,
    "xxl": 1320px
);

$direction : (
    "b": "bottom",
    "t": "top",
    "l": "left",
    "r": "right"
);

